@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
</div>
<div class="posts">
    @* @foreach (var item in Model.Foos)
    {
        <div>@item.Bar</div>
    } *@
</div>
