@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
<style type="text/css">
  .post {
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 16px;
  }

  .post > .post-header {
    display: flex;
    justify-content: space-between;
  }
</style>
}

<script type="text/javascript">
  const postId = @ViewBag.postId;

  const loadPost = async () => {
    const postDiv = document.getElementsByClassName("post")[0];

    try {
      const post = await send("GET", `posts/${postId}`);
      if (!post) {
        throw "No post";
      }

      postDiv.innerText = "";
      const header = document.createElement("div");
      header.classList.add("post-header");

      const title = document.createElement("h2");
      title.innerText = post.title;

      const date = document.createElement("p");
      date.innerText =
        post.author.username +
        " - " +
        new Date(post.created).toLocaleDateString();

      header.appendChild(title);
      header.appendChild(date);

      const content = document.createElement("div");
      content.innerText = post.content.substring(0, 150);

      postDiv.appendChild(header);
      postDiv.appendChild(content);
    } catch (e) {
      postDiv.innerText = "Błąd podczas ładowania posta";
    }
  };

  document.addEventListener("DOMContentLoaded", () => {
    loadPost();
  });
</script>

<div class="post">
  <p>Ładowanie posta</p>
</div>
