@page
@section Styles {
<style type="text/css">
    h2 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    div.form-wrapper {
        display: flex;
        justify-content: center;
    }

    form.register-form {
        max-width: 400px;
        height: 300px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: 40px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 25px 0px;
        border-radius: 5px;
    }

    form.register-form>input:last-child {
        margin-top: 10px;
    }
</style>
}

@{
    ViewBag.Title = "Rejestracja";
}

<script type="text/javascript">
    const onRegister = async (e) => {
        e.preventDefault();
        e.stopPropagation();

        const error = document.getElementById('error');

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        if (!username || !password) {
            error.innerText = "Podaj login i hasło";
            return;
        }

        try {
            const response = await send('POST', 'auth/register', { username, password });

            window.location = '/home';
        } catch (e) {
            console.log(e);
            error.innerText = "Nie można założyć konta dla podanych danych, spróbuj ponownie.";
        }
    };
</script>

<h2>Zarejestruj się aby w pełni korzystać z forum</h2>

<div class="form-wrapper">
    <form class="register-form" onsubmit="onRegister(event)">
        <div class="form-group">
            <label for="username">Login</label>
            <input class="form-control" type="text" name="username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Hasło</label>
            <input class="form-control" type="password" name="password" id="password">
        </div>

        <p id="error"></p>

        <input class="btn btn-primary" type="submit" name="login" value="Zaloguj" />
    </form>
</div>
